<div class="container-about">

    <div class="container pd-16">

        <h1 class="about-heading">
            About Us
        </h1>

        <div class="about-img">
            <img src="./images/cuc-bach-nhat/cau-bach-nhat (3).jpg" alt="">
        </div>

        <div class="about-item">
            <h3 class="about-item-title">
                Welcome to House Plant Shop!
            </h3>

            <p class="about-item-text">
                Our founders started out as a group of childhood friends that all had a passion for nature and the
                outdoors.
                Post college, they ended up becoming roommates. Turns out, having a home filled with plants was
                something
                they continued to have in common. Unfortunately, they found it difficult to find a place online to
                purchase
                houseplants that was easy to navigate and wasn’t just geared to wholesale. So, in 2017, they decided to
                launch <a href="#!">Plantpalaceshop.com</a> to be the ultimate destination for everything houseplants.
                <br>

                Originally working out of the humble house they shared, <a href="#!">Plantpalaceshop.com</a> has now
                grown
                to occupy a
                much
                larger and well equipped greenhouse based in Southern California. <br>

                Today, we still treat every order with the same care as we did working out of the small backyard and
                garage
                we started in. <br>

                From our house to yours, <br>

                The Planta Palaces shop Team
            </p>

            <ul class="about-item-info">
                <li>
                    <i class="fa-sharp fa-solid fa-location-dot"></i>
                    Address : 590 Cách mạng tháng 8 District 3 HCM City
                </li>
                <li>
                    <i class="fa-solid fa-phone"></i>
                    Tel : 0999 899 999
                </li>
                <li>
                    <i class="fa-solid fa-envelope"></i>
                    Email : plantpalacces@gmail.com
                </li>
            </ul>
        </div>

        <div class="about-item-video">
            <div class="about-item-about-link">
                <iframe width="1078" height="616" src="https://www.youtube.com/embed/WS3QFFCn_vE"
                    title="How to Grow Indoor Plants | Mitre 10 Easy As Garden" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>

            </div>

            <div class="about-item-about-link">
                <iframe width="1078" height="616" src="https://www.youtube.com/embed/f8nsXcxySig"
                    title="Succulent Tips for Beginners // Garden Answer" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>

            </div>

            <div class="about-item-about-link">
                <iframe width="1078" height="616" src="https://www.youtube.com/embed/X_hnfG2T5UY"
                    title="How to grow roses for beginners | Garden ideas" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>

            </div>
        </div>



    </div>


</div>