<div ng-controller="blogCtrl">
    <div style="margin-top: 65px" class="parallax-one">
        <h2>BLOG DIARY</h2>
    </div>

    <div class="container-blog">


        <div style="margin-top: 70px" class="container content">
            <ul class="timeline-v1">
                <li>
                    <div class="timeline-badge primary"><i class="glyphicon glyphicon-record"></i></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <img class="img-responsive" src="../images/blog/blog1.avif" alt="" />
                        </div>
                        <div class="timeline-body text-justify">
                            <h2 class="font-light"><span style="color:#25be80;"><b>What's the Easiest Plant to Grow
                                        Indoors?</b>
                                </span></h2>
                            <p>Are you learning to add a bit of nature to your living space, but don't have the greenest
                                thumbs? Do not be afraid! Indoor plants are a great way to bring the outdoors in and
                                enjoy
                                the benefits of nature right in the comfort of your own home. If you are a beginner or
                                simply looking for a low maintenance option, then we have great news for you. In this
                                article, we will reveal the secret of the easiest houseplant to grow, allowing even the
                                most
                                novice gardener to experience the joys of successful indoor gardening.</p>
                            <p>here are some plants that are suitable and easy to grow indoors,
                                :- </p>
                            <p><b> 1) Snake Plant: The Indestructible Indoor Green </b>
                            </p> The Snake Plant, also known as Mother-in-Law's Tongue or Sansevieria trifasciata, tops
                            our
                            list of easy-to-grow indoor plants. This hardy plant is almost indestructible and can
                            survive
                            under various conditions. It is renowned for its tall, architectural leaves that add an
                            aesthetic appeal to any room.
                            <p> <br> <b>
                                    2) Pothos: The Fast-Growing Vine <br>
                                </b>
                                Known for its fast-growing vines adorned with heart-shaped leaves, Pothos is an ideal
                                choice
                                for beginners. This versatile plant can be grown in hanging baskets or planted along a
                                trellis or pole.

                                With its adaptability to a variety of environments and minimal care requirements, Pothos
                                makes indoor gardening a breeze.
                            </p>
                            <p><b> 3) Spider Plant: The Pet-Friendly Choice </b> </p><br />
                            <p> Spider Plants prefer bright indirect light but can also tolerate semi-shady conditions.
                                They
                                require well-drained soil and moderate watering – once per week should suffice under
                                normal
                                circumstances.</p>
                            </p>
                        </div>
                        <div class="timeline-footer">
                            <ul class="list-unstyled list-inline blog-info">
                                <li><span style="margin-left: 120px;">By</span> <a href="#">Fighting Dreamers</a>|
                                    August
                                    11, 2023</li>
                            </ul>
                        </div>
                    </div>
                </li>
                <!-- end of blog 1 -->
                <!-- Blog 2 -->
                <li class="timeline-inverted">
                    <div class="timeline-badge primary"><i class="glyphicon glyphicon-record invert"></i></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <img class="img-responsive" src="./images/blog/blog2.jpg" alt="" />
                        </div>
                        <div class="timeline-body text-justify">
                            <h2 class="font-light"><span style="color:#25be80;"><b>If you are a plant lover but do not
                                        have
                                        time to take care of
                                        them, which plants should you choose? </b>
                                </span></h2>
                            <p>Whether you've caught up with the houseplant trend years ago or are new, If you're a
                                little
                                worried about killing (an extra) houseplant, rest assured: There are actually plenty of
                                beautiful plants out there. need care or they won't dry out and die the first time you
                                forget to water them.
                            </p>

                            <p> 1) Money Tree- Need some good luck? This plant is purported to bring it, but you won't
                                need
                                good luck to grow it.</p>Light: bright, indirect light
                            | Water: weekly; mist occasionally
                            | Toxicity: nontoxic to pets
                            <p> 2) String of Pearls - Give it bright, indirect light, and water when the top few inches
                                of
                                soil feel dry.
                            </p> <br />
                            <p> 3) Aloe Vera - Give it bright, indirect light and water every week or two when it's
                                mostly
                                dry.
                                Light: bright, indirect light
                                | Water: monthly
                                | Toxicity: toxic to pets
                            </p><br />
                            <p> 4) Snake plant (Sansevieria trifasciata) - Great for windowless.
                                Light: low or medium light
                                | Water: monthly
                                | Toxicity: toxic to pets
                            </p><br />
                            <p> 5) Spider plant (Chlorophytum comosum)- Grows best in a hanging basket in front of a
                                window.
                                | Light: bright, indirect light
                                | Water: weekly; mist occasionally
                                | Toxicity: nontoxic to pets


                            </p><br />

                        </div>
                        <div class="timeline-footer">
                            <ul class="list-unstyled list-inline blog-info">
                                <li><span style="margin-left: 120px;">By</span> <a href="#">Fighting Dreamers</a>|
                                    August
                                    11, 2023</li>
                            </ul>
                        </div>
                    </div>
                </li>
                <!-- end of blog 2 -->
                <!-- Blog 3 -->
                <li>
                    <div class="timeline-badge primary"><i class="glyphicon glyphicon-record"></i></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <img class="img-responsive" src="./images/blog/blog3.webp" alt="" />
                        </div>
                        <div class="timeline-body text-justify">
                            <h2 class="font-light"><span style="color:#25be80;"><b>Plants is an extremely good idea for
                                        the
                                        design of coffee shop or restaurant chains. </b>
                                </span></h2>
                            <p> Beautiful space with all-day restaurant, cocktail bar or coffee shop as well as tropical
                                garden space will bring new experiences to customers. Create a quiet, relaxing
                                environment
                                for customers to enjoy. Now,Customers visit the cafe not only because of the quality of
                                drinks and service, but also because of the unique space and landscape.
                            </p>
                            <p> 1) Full foliage plants for a lush green effect<br /> </p>
                            <p> 2) Using trailing planters overhead to create a feeling of being enveloped in
                                nature<br />
                            </p>
                            <p> 3) Balance temperature, good for health<br /> </p>



                        </div>
                        <div class="timeline-footer">
                            <ul class="list-unstyled list-inline blog-info">
                                <li><span style="margin-left: 120px;">By</span> <a href="#">Fighting Dreamers</a>|
                                    August
                                    11, 2023</li>
                            </ul>
                        </div>
                    </div>
                </li>
                <!-- end of blog 3 -->

                <!-- Blog 4 -->
                <li class="timeline-inverted">
                    <div class="timeline-badge primary"><i class="glyphicon glyphicon-record invert"></i></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">

                        </div>
                        <div class="timeline-body text-justify">
                            <h2 class="font-light"><span style="color:#25be80;"> <b>Planting secrets of experienced
                                        people
                                    </b></span></h2>
                            <p>It seems that plant enthusiasts will always have their own secret to taking care of their
                                plants to live and grow very well. There are some tips to help you take better care.

                            </p>
                            <p> 1) The first is probably how they learn the characteristics of which plants are suitable
                                for
                                which environment
                            </p> <br />
                            <p> 2)Watering, changing the soil, and fertilizing are some of the things that help your
                                plants
                                get the most out of their nutrients.
                            </p> <br />
                            <p> 3)In addition, some types need to be trimmed and cleaned of dirt on the leaves
                            </p> <br />


                        </div>
                        <div class="timeline-footer">
                            <ul class="list-unstyled list-inline blog-info">
                                <li><span style="margin-left: 120px;">By</span> <a href="#">Fighting Dreamers</a>|
                                    August
                                    11, 2023</li>
                            </ul>
                        </div>
                    </div>
                </li>
                <!-- end of blog 4 -->

            </ul>
        </div>
    </div>
</div>