<div class="container-review" ng-controller="reviewCtrl">

    <div class="bg-shop"></div>

    <div class="container p16">



        <form action="" class="review-form">

            <H1>Give Your Feedback</H1>

            <div class="form-id">
                <h4>fullname:</h4> <INPUT class="form-id-input" type="text" name="fullname" required
                    placeholder="Enter name here">
                <i class="far fa-user"></i>
            </div>

            <div class="form-id">
                <h4>email:</h4> <INPUT class="form-id-input" type="email" name="mail" required
                    placeholder="e-mail address">
                <i class="far fa-envelope"></i>
            </div>
            <BR>
            <BR>
            <h4> Comment :</h4><BR>
            <TEXTAREA rows="" cols="5" name="commentfield"></TEXTAREA>

            <BR>
            <button class="review-btn" style="background-color: rgb(59, 168, 63); " TYPE="submit">Send Feedback</button>
        </form>


    </div>
</div>